 .h18{
    color: sandybrown;
    font-size: 90px;
    font-family: unset;
 }
 .h19{
    color: salmon;
    font-size: 80px;
    font-family: unset;
}
.h20{
    color: saddlebrown;
    font-size: 75px;
    font-family: unset;
}
.h21{
    height: 300px;
    width: 300px;
    border: 6px solid red;
}
body{
    background-color: bisque;
}

.child-cont{
    width: 49%;
    display: inline-block;

}

.main-cont{
    padding-left: 10px;
}
@media all and (orientation: portrait){

    .h21{width: 79px;
    
    height:79px;}
}