.html{
    width: 100px;
    height: 100px;
    position: relative;
    animation: myscale 5s;
    animation-delay: 2s;
}

@keyframes myscale {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.title{
    width: 100px;
    height: 100px;
    position: relative;
    animation: h1 5s;
    animation-delay: 2s;
    
}

@keyframes h1 {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

 .br{
    width: 100px;
    height: 100px;
    position: relative;
    animation: h2 5s;
    animation-delay: 2s;
    
}

@keyframes h2 {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

 .a{
    width: 100px;
    height: 100px;
    position: relative;
    animation: h3 5s;
    animation-delay: 2s;
    
}

@keyframes h3 {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.body {
    width: 100px;
    height: 100px;
    position: relative;
    animation: h4 5s;
    animation-delay: 2s;
    
}

@keyframes h4 {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

body {
    background-image: url(https://cdn.mos.cms.futurecdn.net/NwWKyrmAvryGMxbZ3Nbwh3-1200-80.jpg);
    border: 5px solid black;
}

img {
    width: 750px;
}

 .height{
    width: 450px;
    height: 500px;
    position: relative;
    animation: h5 5s;
    animation-delay: 2s;
    
}

@keyframes h5 {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.width{
    width: 450px;
    height: 500px;
    position: relative;
    animation: h6 5s;
    animation-delay: 2s;
    
}

@keyframes h6 {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loading-screen::before,
#loading-screen::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: block;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-delay: .1s;
    
}

#loading-screen::before {
    animation-name: loadingScreen1;
}

#loading-screen::after {
    animation-name: loadingScreen2;
}

@keyframes loadingScreen1 {
    to {
        transform: translateY(-100%);
    }
}

@keyframes loadingScreen2 {
    to {
        transform: translateY(100%);
    }
} 
.meta{
    font-size: 60px
}