.h1{
    font-size: 65px;
    background-color: rgba(72, 255, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}
.h2{
    font-size: 45px;
    background-color: rgba(72, 255, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}
.h3{
    font-size: 65px;
    background-color:rgba(72, 255, 0, 0.2) ;
    font-family: 'Times New Roman', Times, serif;
}
.h4{
    font-size: 45px;
    background-color: rgba(72, 255, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}
.h5{
    font-size: 45px;
    background-color: rgba(72, 255, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}
.h6{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(72, 255, 0, 0.2);
}
.class{
    font-size: 45px;
    background-color: rgba(72, 255, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}

.backimage{
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}
.h8{
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(72, 255, 0, 0.2)
}

